make/data/cldr/common/dtd/ldmlSupplemental.dtd

<!--
Copyright © 1991-2022 Unicode, Inc.
For terms of use, see http://www.unicode.org/copyright.html
SPDX-License-Identifier: Unicode-DFS-2016
CLDR data files are interpreted according to the LDML specification (http://unicode.org/reports/tr35/)
-->

<!ELEMENT supplementalData ( version, generation?, cldrVersion?, currencyData?, territoryContainment?, subdivisionContainment?, languageData?, territoryInfo?, postalCodeData?, calendarData?, calendarPreferenceData?, weekData?, timeData?, measurementData?, unitIdComponents?, unitConstants*, unitQuantities*, convertUnits*, unitPreferenceData?, timezoneData?, characters?, transforms?, metadata?, codeMappings?, parentLocales?, personNamesDefaults?, likelySubtags?, metazoneInfo?, plurals?, telephoneCodeData?, numberingSystems?, bcp47KeywordMappings?, gender?, references?, languageMatching?, dayPeriodRuleSet*, metaZones?, primaryZones?, windowsZones?, coverageLevels?, idValidity?, rgScope?, languageGroups?, grammaticalData? ) >

<!ELEMENT version EMPTY >
    <!--@METADATA-->
<!ATTLIST version number CDATA #REQUIRED >
    <!--@MATCH:any-->
    <!--@METADATA-->
<!ATTLIST version cldrVersion CDATA #FIXED "42" >
    <!--@MATCH:version-->
    <!--@VALUE-->
<!ATTLIST version unicodeVersion CDATA #FIXED "15.0.0" >
    <!--@MATCH:version-->
    <!--@VALUE-->

<!ELEMENT generation EMPTY >
    <!--@METADATA-->
    <!--@DEPRECATED-->
<!ATTLIST generation date CDATA #REQUIRED >
    <!--@VALUE-->
    <!--@DEPRECATED-->

<!ELEMENT cldrVersion EMPTY >
    <!--@DEPRECATED-->
<!ATTLIST cldrVersion version CDATA #REQUIRED >
    <!--@METADATA-->
    <!--@DEPRECATED-->

<!ELEMENT currencyData ( fractions*, region+ ) >
<!ATTLIST currencyData draft (approved | contributed | provisional | unconfirmed | true | false) #IMPLIED >
    <!--@METADATA-->
    <!--@DEPRECATED-->

<!ELEMENT fractions ( info+ ) >
<!ATTLIST fractions draft (approved | contributed | provisional | unconfirmed | true | false) #IMPLIED >
    <!--@METADATA-->
    <!--@DEPRECATED-->

<!ELEMENT info EMPTY >
<!ATTLIST info iso4217 NMTOKEN #REQUIRED >
    <!--@MATCH:or/validity/currency||literal/DEFAULT-->
<!ATTLIST info digits NMTOKEN #IMPLIED >
    <!--@MATCH:range/0~5-->
    <!--@VALUE-->
<!ATTLIST info rounding NMTOKEN #IMPLIED >
    <!--@MATCH:range/0~5-->
    <!--@VALUE-->
<!ATTLIST info cashDigits NMTOKEN #IMPLIED >
    <!--@MATCH:range/0~100-->
    <!--@VALUE-->
<!ATTLIST info cashRounding NMTOKEN #IMPLIED >
    <!--@MATCH:literal/0, 5, 50-->
    <!--@VALUE-->
<!ATTLIST info draft (approved | contributed | provisional | unconfirmed | true | false) #IMPLIED >
    <!--@METADATA-->
    <!--@DEPRECATED:true, false-->
<!ATTLIST info references CDATA #IMPLIED >
    <!--@METADATA-->

<!ELEMENT region ( currency* ) >
<!ATTLIST region iso3166 NMTOKEN #REQUIRED >
    <!--@MATCH:validity/region-->
<!ATTLIST region draft (approved | contributed | provisional | unconfirmed | true | false) #IMPLIED >
    <!--@METADATA-->
    <!--@DEPRECATED-->

<!ELEMENT currency ( alternate* ) >
<!ATTLIST currency before NMTOKEN #IMPLIED >
    <!-- use from and to instead. -->
    <!--@VALUE-->
    <!--@DEPRECATED-->
<!ATTLIST currency from NMTOKEN #IMPLIED >
    <!--@MATCH:time/yyyy-MM-dd-->
<!ATTLIST currency to NMTOKEN #IMPLIED >
    <!--@MATCH:time/yyyy-MM-dd-->
<!ATTLIST currency iso4217 NMTOKEN #REQUIRED >
    <!--@MATCH:validity/currency-->
<!ATTLIST currency digits NMTOKEN #IMPLIED >
    <!--@VALUE-->
<!ATTLIST currency rounding NMTOKEN #IMPLIED >
    <!--@VALUE-->
<!ATTLIST currency cashRounding NMTOKEN #IMPLIED >
    <!--@VALUE-->
<!ATTLIST currency tender (true | false) #IMPLIED >
    <!--@VALUE-->
<!ATTLIST currency draft (approved | contributed | provisional | unconfirmed | true | false) #IMPLIED >
    <!--@METADATA-->
    <!--@DEPRECATED-->
<!ATTLIST currency references CDATA #IMPLIED >
    <!--@METADATA-->

<!ELEMENT alternate EMPTY >
    <!-- use from and to instead. -->
    <!--@DEPRECATED-->
<!ATTLIST alternate iso4217 NMTOKEN #REQUIRED >
    <!--@DEPRECATED-->

<!ELEMENT territoryContainment ( group* ) >

<!ELEMENT group EMPTY >
<!ATTLIST group type NMTOKEN #REQUIRED >
    <!--@MATCH:validity/region-->
<!ATTLIST group contains NMTOKENS #IMPLIED >
    <!--@MATCH:set/validity/region-->
    <!--@VALUE-->
<!ATTLIST group grouping (true | false) #IMPLIED >
    <!--@VALUE-->
<!ATTLIST group status (deprecated | grouping) #IMPLIED >
<!ATTLIST group draft (approved | contributed | provisional | unconfirmed | true | false) #IMPLIED >
    <!--@METADATA-->
    <!--@DEPRECATED:true, false-->
<!ATTLIST group references CDATA #IMPLIED >
    <!--@METADATA-->

<!ELEMENT subdivisionContainment ( subgroup* ) >

<!ELEMENT subgroup EMPTY >
<!ATTLIST subgroup type NMTOKEN #REQUIRED >
    <!--@MATCH:or/validity/region||validity/subdivision-->
<!ATTLIST subgroup subtype NMTOKEN #IMPLIED >
    <!--@DEPRECATED-->
<!ATTLIST subgroup contains NMTOKENS #IMPLIED >
    <!--@MATCH:set/or/validity/subdivision||literal/itca, itnu, itor, itsd, itss, no01, no02, no03, no04, no05, no06, no07, no08, no09, no10, no11, no12, no14, no15, no18, no19, no20, no21, no22, no50-->
    <!--@VALUE-->

<!ELEMENT languageData ( language* ) >

<!ELEMENT language EMPTY >
<!ATTLIST language type NMTOKEN #REQUIRED >
    <!--@MATCH:set/validity/language-->
<!ATTLIST language scripts NMTOKENS #IMPLIED >
    <!--@MATCH:set/validity/script-->
    <!--@VALUE-->
<!ATTLIST language territories NMTOKENS #IMPLIED >
    <!--@MATCH:set/validity/region-->
    <!--@VALUE-->
<!ATTLIST language variants NMTOKENS #IMPLIED >
    <!--@VALUE-->
<!ATTLIST language draft (approved | contributed | provisional | unconfirmed | true | false) #IMPLIED >
    <!--@METADATA-->
    <!--@DEPRECATED:true, false-->
<!ATTLIST language references CDATA #IMPLIED >
    <!--@METADATA-->
<!ATTLIST language alt NMTOKENS #IMPLIED >
    <!--@MATCH:literal/secondary, variant-->

<!ELEMENT territoryInfo ( territory* ) >
<!ATTLIST territoryInfo draft (approved | contributed | provisional | unconfirmed | true | false) #IMPLIED >
    <!--@METADATA-->
    <!--@DEPRECATED-->
<!ATTLIST territoryInfo references CDATA #IMPLIED >
    <!--@METADATA-->
<!ATTLIST territoryInfo alt NMTOKENS #IMPLIED >
    <!--@MATCH:literal/variant-->

<!ELEMENT territory ( languagePopulation* ) >
<!ATTLIST territory type NMTOKEN #REQUIRED >
    <!--@MATCH:validity/region-->
<!ATTLIST territory gdp NMTOKEN #REQUIRED >
    <!--@MATCH:range/0~100000000000000-->
    <!--@VALUE-->
<!ATTLIST territory literacyPercent NMTOKEN #REQUIRED >
    <!--@MATCH:range/0.0~100.0-->
    <!--@VALUE-->
<!ATTLIST territory population NMTOKEN #REQUIRED >
    <!--@MATCH:range/0~10000000000-->
    <!--@VALUE-->
<!ATTLIST territory draft (approved | contributed | provisional | unconfirmed | true | false) #IMPLIED >
    <!--@METADATA-->
    <!--@DEPRECATED-->
<!ATTLIST territory references CDATA #IMPLIED >
    <!--@MATCH:any-->
    <!--@METADATA-->
<!ATTLIST territory alt NMTOKENS #IMPLIED >
    <!--@MATCH:literal/variant-->

<!ELEMENT languagePopulation EMPTY >
<!ATTLIST languagePopulation type NMTOKEN #REQUIRED >
    <!--@MATCH:validity/locale-->
<!ATTLIST languagePopulation literacyPercent NMTOKEN #IMPLIED >
    <!--@MATCH:range/0~100-->
    <!--@VALUE-->
<!ATTLIST languagePopulation writingPercent NMTOKEN #IMPLIED >
    <!--@MATCH:range/0~100-->
    <!--@VALUE-->
<!ATTLIST languagePopulation populationPercent NMTOKEN #REQUIRED >
    <!--@MATCH:range/0.0~100.0-->
    <!--@VALUE-->
<!ATTLIST languagePopulation officialStatus (de_facto_official | official | official_regional | official_minority) #IMPLIED >
    <!--@VALUE-->
<!ATTLIST languagePopulation draft (approved | contributed | provisional | unconfirmed | true | false) #IMPLIED >
    <!--@METADATA-->
    <!--@DEPRECATED:true, false-->
<!ATTLIST languagePopulation references CDATA #IMPLIED >
    <!--@MATCH:any-->
    <!--@METADATA-->
<!ATTLIST languagePopulation alt NMTOKENS #IMPLIED >
    <!--@MATCH:literal/variant-->

<!ELEMENT postalCodeData ( postCodeRegex* ) >
    <!--@DEPRECATED-->

<!ELEMENT postCodeRegex ( #PCDATA ) >
    <!--@DEPRECATED-->
<!ATTLIST postCodeRegex territoryId NMTOKEN #REQUIRED >
    <!--@DEPRECATED-->
<!ATTLIST postCodeRegex draft (approved | contributed | provisional | unconfirmed | true | false) #IMPLIED >
    <!--@METADATA-->
    <!--@DEPRECATED-->

<!ELEMENT calendarData ( calendar* ) >

<!ELEMENT calendar ( calendarSystem?, eras? ) >
<!ATTLIST calendar type NMTOKEN #REQUIRED >
    <!--@MATCH:bcp47/ca-->
<!ATTLIST calendar territories NMTOKENS #IMPLIED >
    <!-- use ordering attribute in calendarPreference element instead. -->
    <!--@VALUE-->
    <!--@DEPRECATED-->
<!ATTLIST calendar draft (approved | contributed | provisional | unconfirmed | true | false) #IMPLIED >
    <!--@METADATA-->
    <!--@DEPRECATED-->
<!ATTLIST calendar references CDATA #IMPLIED >
    <!--@METADATA-->
<!ATTLIST calendar alt NMTOKENS #IMPLIED >
    <!--@MATCH:literal/variant-->

<!ELEMENT calendarSystem EMPTY >
<!ATTLIST calendarSystem type (solar | lunar | lunisolar | other) #REQUIRED >
    <!--@VALUE-->
<!ATTLIST calendarSystem references CDATA #IMPLIED >
    <!--@METADATA-->

<!ELEMENT eras ( era* ) >
<!ATTLIST eras references CDATA #IMPLIED >
    <!--@METADATA-->

<!ELEMENT era EMPTY >
<!ATTLIST era type NMTOKEN #REQUIRED >
    <!--@MATCH:range/0~250-->
<!ATTLIST era start CDATA #IMPLIED >
    <!--@MATCH:time/yyyy-MM-dd-->
    <!--@VALUE-->
<!ATTLIST era end CDATA #IMPLIED >
    <!--@MATCH:time/yyyy-MM-dd-->
    <!--@VALUE-->
<!ATTLIST era named (true | false) #IMPLIED >
    <!--@VALUE-->

<!ELEMENT calendarPreferenceData ( calendarPreference* ) >

<!ELEMENT calendarPreference EMPTY >
<!ATTLIST calendarPreference territories NMTOKENS #REQUIRED >
    <!--@MATCH:set/validity/region-->
<!ATTLIST calendarPreference ordering NMTOKENS #REQUIRED >
    <!--@MATCH:set/bcp47/ca-->
    <!--@VALUE-->

<!ELEMENT weekData ( minDays*, firstDay*, weekendStart*, weekendEnd*, weekOfPreference* ) >

<!ELEMENT minDays EMPTY >
<!ATTLIST minDays count (1 | 2 | 3 | 4 | 5 | 6 | 7) #REQUIRED >
<!ATTLIST minDays territories NMTOKENS #REQUIRED >
    <!--@MATCH:set/validity/region-->
    <!--@VALUE-->
<!ATTLIST minDays draft (approved | contributed | provisional | unconfirmed | true | false) #IMPLIED >
    <!--@METADATA-->
    <!--@DEPRECATED:true, false-->
<!ATTLIST minDays references CDATA #IMPLIED >
    <!--@METADATA-->
<!ATTLIST minDays alt NMTOKENS #IMPLIED >
    <!--@MATCH:literal/variant-->

<!ELEMENT firstDay EMPTY >
<!ATTLIST firstDay day (sun | mon | tue | wed | thu | fri | sat) #REQUIRED >
<!ATTLIST firstDay territories NMTOKENS #REQUIRED >
    <!--@MATCH:set/validity/region-->
    <!--@VALUE-->
<!ATTLIST firstDay draft (approved | contributed | provisional | unconfirmed | true | false) #IMPLIED >
    <!--@METADATA-->
    <!--@DEPRECATED:true, false-->
<!ATTLIST firstDay references CDATA #IMPLIED >
    <!--@MATCH:any-->
    <!--@METADATA-->
<!ATTLIST firstDay alt NMTOKENS #IMPLIED >
    <!--@MATCH:literal/variant-->

<!ELEMENT weekendStart EMPTY >
<!ATTLIST weekendStart day (sun | mon | tue | wed | thu | fri | sat) #REQUIRED >
<!ATTLIST weekendStart territories NMTOKENS #REQUIRED >
    <!--@MATCH:set/validity/region-->
    <!--@VALUE-->
<!ATTLIST weekendStart draft (approved | contributed | provisional | unconfirmed | true | false) #IMPLIED >
    <!--@METADATA-->
    <!--@DEPRECATED:true, false-->
<!ATTLIST weekendStart references CDATA #IMPLIED >
    <!--@METADATA-->
<!ATTLIST weekendStart alt NMTOKENS #IMPLIED >
    <!--@MATCH:literal/variant-->

<!ELEMENT weekendEnd EMPTY >
<!ATTLIST weekendEnd day (sun | mon | tue | wed | thu | fri | sat) #REQUIRED >
<!ATTLIST weekendEnd territories NMTOKENS #REQUIRED >
    <!--@MATCH:set/validity/region-->
    <!--@VALUE-->
<!ATTLIST weekendEnd draft (approved | contributed | provisional | unconfirmed | true | false) #IMPLIED >
    <!--@METADATA-->
    <!--@DEPRECATED:true, false-->
<!ATTLIST weekendEnd references CDATA #IMPLIED >
    <!--@METADATA-->
<!ATTLIST weekendEnd alt NMTOKENS #IMPLIED >
    <!--@MATCH:literal/variant-->

<!ELEMENT weekOfPreference EMPTY >
<!ATTLIST weekOfPreference locales NMTOKENS #REQUIRED >
    <!--@MATCH:set/validity/locale-->
<!ATTLIST weekOfPreference ordering NMTOKENS #REQUIRED >
    <!--@MATCH:set/literal/weekOfDate, weekOfInterval, weekOfMonth, weekOfYear-->
    <!--@VALUE-->

<!ELEMENT timeData ( hours* ) >

<!ELEMENT hours EMPTY >
<!ATTLIST hours allowed NMTOKENS #REQUIRED >
    <!--@MATCH:set/literal/H, h, K, k, hB, hb-->
<!ATTLIST hours preferred NMTOKEN #REQUIRED >
    <!--@MATCH:literal/H, h-->
<!ATTLIST hours regions NMTOKENS #REQUIRED >
    <!--@MATCH:set/or/validity/region||validity/locale-->
    <!--@VALUE-->
<!ATTLIST hours draft (approved | contributed | provisional | unconfirmed) #IMPLIED >
    <!--@METADATA-->
<!ATTLIST hours references CDATA #IMPLIED >
    <!--@METADATA-->

<!ELEMENT measurementData ( measurementSystem*, paperSize* ) >

<!ELEMENT measurementSystem EMPTY >
<!ATTLIST measurementSystem type (metric | US | UK) #REQUIRED >
<!ATTLIST measurementSystem category (temperature) #IMPLIED >
<!ATTLIST measurementSystem territories NMTOKENS #REQUIRED >
    <!--@MATCH:set/validity/region-->
    <!--@VALUE-->
<!ATTLIST measurementSystem draft (approved | contributed | provisional | unconfirmed | true | false) #IMPLIED >
    <!--@METADATA-->
    <!--@DEPRECATED:true, false-->
<!ATTLIST measurementSystem references CDATA #IMPLIED >
    <!--@METADATA-->
<!ATTLIST measurementSystem alt NMTOKENS #IMPLIED >
    <!--@MATCH:literal/variant-->

<!ELEMENT paperSize EMPTY >
<!ATTLIST paperSize type (A4 | US-Letter) #REQUIRED >
<!ATTLIST paperSize territories NMTOKENS #REQUIRED >
    <!--@MATCH:set/validity/region-->
    <!--@VALUE-->
<!ATTLIST paperSize draft (approved | contributed | provisional | unconfirmed | true | false) #IMPLIED >
    <!--@METADATA-->
    <!--@DEPRECATED:true, false-->
<!ATTLIST paperSize references CDATA #IMPLIED >
    <!--@METADATA-->
<!ATTLIST paperSize alt NMTOKENS #IMPLIED >
    <!--@MATCH:literal/variant-->

<!ELEMENT unitIdComponents ( unitIdComponent* ) >

<!ELEMENT unitIdComponent EMPTY >
<!ATTLIST unitIdComponent type NMTOKEN #REQUIRED >
    <!--@MATCH:literal/prefix, suffix, power, and, per-->
<!ATTLIST unitIdComponent values NMTOKENS #REQUIRED >
    <!--@MATCH:set/regex/[a-z]+[0-9]*-->
    <!--@VALUE-->

<!ELEMENT unitConstants ( unitConstant* ) >

<!ELEMENT unitConstant EMPTY >
<!ATTLIST unitConstant constant NMTOKEN #REQUIRED >
    <!--@MATCH:regex/[A-Za-z][_A-Za-z0-9]*-->
<!ATTLIST unitConstant value CDATA #REQUIRED >
    <!--@MATCH:regex/[-+*/\._ 0-9a-zA-Z]+-->
    <!--@VALUE-->
<!ATTLIST unitConstant status NMTOKEN #IMPLIED >
    <!--@MATCH:literal/approximate, exact-->
    <!--@VALUE-->
<!ATTLIST unitConstant description CDATA #IMPLIED >
    <!--@MATCH:any-->
    <!--@METADATA-->

<!ELEMENT unitQuantities ( unitQuantity* ) >

<!ELEMENT unitQuantity EMPTY >
<!ATTLIST unitQuantity baseUnit NMTOKEN #REQUIRED >
    <!--@MATCH:regex/[A-Za-z][-A-Za-z0-9]*-->
<!ATTLIST unitQuantity quantity NMTOKENS #REQUIRED >
    <!--@MATCH:regex/[A-Za-z][-A-Za-z0-9]*-->
    <!--@VALUE-->
<!ATTLIST unitQuantity status NMTOKEN #IMPLIED >
    <!--@MATCH:regex/simple-->
    <!--@VALUE-->
<!ATTLIST unitQuantity description CDATA #IMPLIED >
    <!--@METADATA-->

<!ELEMENT convertUnits ( convertUnit* ) >

<!ELEMENT convertUnit EMPTY >
<!ATTLIST convertUnit source NMTOKEN #REQUIRED >
    <!--@MATCH:regex/(100-)?[A-Za-z][-A-Za-z0-9]*-->
<!ATTLIST convertUnit baseUnit NMTOKEN #REQUIRED >
    <!--@MATCH:regex/[A-Za-z][-A-Za-z0-9]*-->
    <!--@VALUE-->
<!ATTLIST convertUnit factor CDATA #IMPLIED >
    <!--@MATCH:regex/[-+*/\._ 0-9a-zA-Z]+-->
    <!--@VALUE-->
<!ATTLIST convertUnit offset CDATA #IMPLIED >
    <!--@MATCH:regex/[-+*/\._ 0-9a-zA-Z]+-->
    <!--@VALUE-->
<!ATTLIST convertUnit systems NMTOKENS #IMPLIED >
    <!--@MATCH:set/literal/ussystem, uksystem, metric, si, other-->
    <!--@VALUE-->
<!ATTLIST convertUnit description CDATA #IMPLIED >
    <!--@METADATA-->

<!ELEMENT unitPreferenceData ( unitPreferences* ) >
<!ATTLIST unitPreferenceData draft (approved | contributed | provisional | unconfirmed) #IMPLIED >
    <!--@METADATA-->

<!ELEMENT unitPreferences ( unitPreference* ) >
<!ATTLIST unitPreferences category NMTOKEN #REQUIRED >
    <!--@MATCH:regex/[a-z]+([-][a-z]+)*-->
<!ATTLIST unitPreferences usage NMTOKENS #REQUIRED >
    <!--@MATCH:regex/[a-z]+([-][a-z]+)*-->
<!ATTLIST unitPreferences scope (small) #IMPLIED >
    <!--@DEPRECATED-->
<!ATTLIST unitPreferences draft (approved | contributed | provisional | unconfirmed) #IMPLIED >
    <!--@METADATA-->
    <!--@DEPRECATED-->

<!ELEMENT unitPreference ( #PCDATA ) >
    <!--@ORDERED-->
<!ATTLIST unitPreference regions NMTOKENS #REQUIRED >
    <!--@MATCH:set/validity/region-->
<!ATTLIST unitPreference geq NMTOKEN #IMPLIED >
    <!--@MATCH:any-->
<!ATTLIST unitPreference skeleton CDATA #IMPLIED >
    <!--@MATCH:any-->
    <!--@VALUE-->
<!ATTLIST unitPreference draft (approved | contributed | provisional | unconfirmed) #IMPLIED >
    <!--@METADATA-->
<!ATTLIST unitPreference references CDATA #IMPLIED >
    <!--@METADATA-->
<!ATTLIST unitPreference alt NMTOKENS #IMPLIED >
    <!--@MATCH:literal/informal, variant-->

<!ELEMENT timezoneData ( mapTimezones*, zoneFormatting* ) >
    <!--@DEPRECATED-->

<!ELEMENT mapTimezones ( mapZone* ) >
<!ATTLIST mapTimezones type NMTOKEN #IMPLIED >
    <!--@MATCH:literal/metazones-->
<!ATTLIST mapTimezones otherVersion CDATA #IMPLIED >
    <!--@MATCH:any-->
    <!--@METADATA-->
<!ATTLIST mapTimezones typeVersion CDATA #IMPLIED >
    <!--@MATCH:regex/[0-9]{4}[a-z]+-->
    <!--@METADATA-->
<!ATTLIST mapTimezones references CDATA #IMPLIED >
    <!--@MATCH:any-->
    <!--@METADATA-->

<!ELEMENT mapZone EMPTY >
<!ATTLIST mapZone type CDATA #REQUIRED >
    <!--@MATCH:set/bcp47/tz-->
    <!--@VALUE-->
<!ATTLIST mapZone other CDATA #REQUIRED >
    <!--@MATCH:any-->
<!ATTLIST mapZone territory CDATA #IMPLIED >
    <!--@MATCH:validity/region-->
<!ATTLIST mapZone references CDATA #IMPLIED >
    <!--@MATCH:any-->
    <!--@METADATA-->

<!ELEMENT zoneFormatting ( zoneItem* ) >
    <!--@DEPRECATED-->
<!ATTLIST zoneFormatting multizone NMTOKENS #REQUIRED >
    <!--@VALUE-->
    <!--@DEPRECATED-->
<!ATTLIST zoneFormatting tzidVersion CDATA #IMPLIED >
    <!--@METADATA-->
    <!--@DEPRECATED-->
<!ATTLIST zoneFormatting references CDATA #IMPLIED >
    <!--@METADATA-->
    <!--@DEPRECATED-->

<!ELEMENT zoneItem EMPTY >
    <!--@DEPRECATED-->
<!ATTLIST zoneItem type CDATA #REQUIRED >
    <!--@DEPRECATED-->
<!ATTLIST zoneItem territory NMTOKEN #REQUIRED >
    <!--@VALUE-->
    <!--@DEPRECATED-->
<!ATTLIST zoneItem aliases CDATA #IMPLIED >
    <!--@VALUE-->
    <!--@DEPRECATED-->
<!ATTLIST zoneItem references CDATA #IMPLIED >
    <!--@METADATA-->
    <!--@DEPRECATED-->

<!ELEMENT characters ( character-fallback* ) >
<!ATTLIST characters draft (approved | contributed | provisional | unconfirmed | true | false) #IMPLIED >
    <!--@METADATA-->
    <!--@DEPRECATED-->

<!ELEMENT character-fallback ( character* ) >

<!ELEMENT character ( substitute* ) >
<!ATTLIST character value CDATA #REQUIRED >
    <!--@MATCH:any-->
<!ATTLIST character draft (approved | contributed | provisional | unconfirmed | true | false) #IMPLIED >
    <!--@METADATA-->
    <!--@DEPRECATED-->
<!ATTLIST character standard CDATA #IMPLIED >
    <!--@METADATA-->
    <!--@DEPRECATED-->
<!ATTLIST character references CDATA #IMPLIED >
    <!--@METADATA-->
<!ATTLIST character alt NMTOKEN